.box {
    background-color: transparent;
    width: 220px;
    height: 300px;
    border: 1px solid #eeeeee;
    perspective: 1000px;
  }
  .box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
  }
  .box:hover .box-inner {
    transform: rotateY(180deg);
  }
  .box-front,
  .box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  .box-front {
    background-color: #cccccc;
    color: #111111;
  }
  .box-back {
    background-color: #8ebf42;
    color: #eeeeee;
    transform: rotateY(180deg);
  }
  .box-front1 {
    background-image:url("/assets/images/archaea/psychroice.jpg");
  }
  .box-front2 {
    background-image:url("/assets/images/archaea/thermo.jpg");
  }
  .box-front3 {
    background-image:url("/assets/images/archaea/acid.jpg");
  }
  .box-front4 {
    background-image:url("/assets/images/archaea/halosalt.jpg");
  }
  .box-front5 {
    background-image:url("/assets/images/archaea/methano.png");
  }