.sidebar {
    font: 400 0.75rem/1.5 "Roboto";
    padding: 10px;
    width: 20%;
    background-color: hsl(120, 70%, 50%);
    height: 100vh;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.3s;
    transform: translate(-95%,0);
}

.sidebar:hover {
    transform: translate(0,0);
}

.sidebar ul {
    text-align: center;
}

.sidebar li {
    list-style-type: none;
    padding: 5px 0;
    color: white;
}

.main {
    width:100%;
}

.main p{
    margin: 180px auto;
    width: 80%;
    color:#fff;
    line-height: 1.6em;
    text-align: justify;
}
